:root {
    --main-bg-color:#89043D;
    --black-color:#000;
    --margin: 0px;
    --padding: 0px;
    --white-main-color: #fff;

}
html {
    scroll-behavior: smooth;
}


*{  
    margin: 0%;
    padding: 0%;
    
    
}

body {
    margin: var(--margin);
    padding: var(--padding);
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}


ul {
    list-style: none;
}
a {
    text-decoration: none;
}
#main {
    width: 100%;
    height: 100vh;
    position: relative;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 1;
    background-color: var(--white-main-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
nav ul {
    display: flex;
}
nav ul li a {
    margin: 1px;
    padding: 10px;
    display: flex;
    text-transform: uppercase;
    font-weight: light;
    color: #585b55;
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 20px;
}

nav ul li a:hover {
    background-color: var(--main-bg-color);
    color: #fff;
    border-radius: 20px;
}
.order {
    color: var(--main-bg-color);
    font-weight: 500;
    font-size: 0.9em;
    font-weight: bold;
    border-bottom: 3px solid gray ;
}


.logo{
    font-weight: 250;
    font-size: 35px;
    color: var(--main-bg-color);
    margin: 0%;    
}
.name  {
    font-weight: 600;
    font-size: 0.9em;
    text-decoration: underline solid  gray;
    color: var(--main-bg-color);
}
.main-content {
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: start;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0%;
    margin: 0%;
}

.right-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 20px;
}

.picture {
    object-fit: contain;
    width: 100%;
    height: 100%;
    align-items: center;
}
button {
    width: 150px;
    height: 40px;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--main-bg-color); 
}

button a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
button:hover a{
    color: var(--black-color);
}
p {
    color: gray;
    font-family: 'Lucida Sans Unicode';
    line-height: 30px;
}

#section2{
    display: flex;
    justify-content: center;
}

.text-container{
    width: 40%;
    height: 400px;
}

.icon-text{
    display: flex;
    margin: 30px;

}

.skill-box{
    flex-direction: column;
    justify-content: space-around;
    
}
.icon i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #E5E6E4;
    color: var(--main-bg-color);
    margin-right: 30px;
    word-wrap: break-word ;
    

}
.text-container span {
    font-size: 18px;

}
.text-container h2 {
    margin-top: -2%;
    font-size: 45px;
}
.skill-disc p {
    font-size: 18px;
}

.skill-image{
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: 70%;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
.skill-image img{
    height: 70%;
    width: 70%;

}
/* project*/
#my-project {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: auto auto 50px auto;
    flex-direction: column;
    
}
.project-showcase{
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}
.project {
    width: 300px;
    height: 200px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px 0px;
   
}
.one {
    background-image: url(images/coke.png);
    background-size: cover;
    background-position: 0px;

}
.two {
    background-image: url(images/audi.png);
    background-size: cover;
}
.three {
    background-image: url(images/hm.jpg);
    background-size: cover;
}
#hide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    opacity: 100%;
    background-color: var(--white-main-color);
    flex-direction: column;
    z-index: 1000;
    visibility: hidden;

}
.project:hover #hide {
    visibility: visible;
    border: 2px solid var(--main-bg-color);

}
.coke {
    color: var(--main-bg-color);
    font-weight: bold;
    font-size: larger;
}

.audi {
    color: var(--main-bg-color);
    font-weight: bold;
    font-size: larger;
}
.hm {
    color: var(--main-bg-color);
    font-weight: bold;
    font-size: larger;
}
.project-button {
    background-color: var(--main-bg-color);
    color: var(--white-main-color);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
.project-button:hover{
    background-color: var(--white-main-color);
    color: var(--main-bg-color);
    cursor: pointer;
}

.more-projects button {
    background-color: var(--main-bg-color);
    justify-content: center;
    align-content: flex-end;
    display: flex;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid black;
    color: var(--white-main-color);
    flex-direction: column;
    color: #fff;
    width: fit-content;
}


.more-projects button:hover{
    background-color: var(--white-main-color);
    color: var(--main-bg-color);
    font-weight: bold;
}
.heading {
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    
}
h2{
    margin-top: -15px;
    font-size: 50px;
}
/* client section */

#client {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    margin: auto auto 50px auto;
    padding: 50px 0px;
    justify-content: space-around;
}
.client-box-container {
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: space-between;
    margin: 40px 0px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

}
.client-one img {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 120px;
    background-size: cover;

}
.client-one {
    width: 30%;
    height: 100%;
    margin: 10px 10px 10px 10px;
    border-radius: 40px;
    background-position: 0%;
}
.star {
    width: 90%;
    height: 90%;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto auto auto auto;

}
.star i {
    align-items: center;
    justify-content: center;
    margin: auto;
    color: #FFC600;  
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto auto 50px auto;
    width: 90%;
}

#contact img {
    width: 20%;
    margin-bottom: 50px;
}
.contact-input {
    width: 400px;
    height: 50px;
    justify-content: center;
    display: flex;
    background-color: var(--white-main-color);
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;;
}

.contact-input input{
    width: 100%;
    background: transparent;
    border: none;
    outline:  none;
    text-align: center;
    color: var(--main-bg-color);

}
.contact-input a {
    width: 150px;
    height: 35px;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    color: var(--white-main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: auto 10px;

}

footer {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid var(--main-bg-color);
}
footer p {
    margin: 10px 0px;
    color: var(--main-bg-color);
    font-size: 14px;
}



